ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	border-color: #3b4253;
	overflow: hidden;
	height: 300px;
}

li {
	background-color: #572525;
	border-color: #3b4253 !important;
	color: #b4b7bd;
	width: 50px;
	position: relative;
	margin: 0.25rem;
	display: block;
	padding: 1rem;
	border: 1px solid rgba(34, 41, 47, 0.125);
	float: left;
	font-size: 16px;
}

li.selected {
	background-color: #e0ab3a !important;
	color: #fff !important;
}
